@model StudentWebConsumeAPI.Models.StudentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdEmail)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
